<div class="row">
    <div class="col-md-12 text-center">
        <h1>To do {{task}}</h1>
        <h2>With {{language}} version {{version}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <form method="get">
            <textarea
                    id="content"
                    onKeyUp="doSomething('{{language}}','{{version}}','{{task}}',this.value)"
            >{{content}}</textarea>
            <!--<button type="submit">Save</button>-->
        </form>
    </div>
</div>
